body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #de89f0;
  margin-top: 20px;
  background: url(https://hd.unsplash.com/photo-1455621613471-56c7fcc60f22) no-repeat; 
}

header {
  font-family: "Londrina Shadow", sans-serif;
  text-align: center;
  font-size: 50px; 
  top: 100px;
}

section {
  top: 100px;
}

button {
  color: black;
  background-color: #f0de89; 
}

button:hover {
  background-color: #de89f0; 
}

h4 {
  text-align: center; 
}

footer {
    position: fixed;
    right: 20px;
    bottom: 0;
    left: 0;
    text-align: right;
}
